<Type Name="ColorGradingModel+Tonemapper" FullName="UnityEngine.PostProcessing.ColorGradingModel+Tonemapper">
  <TypeSignature Language="C#" Value="public enum ColorGradingModel.Tonemapper" />
  <TypeSignature Language="ILAsm" Value=".class nested public auto ansi sealed ColorGradingModel/Tonemapper extends System.Enum" />
  <AssemblyInfo>
    <AssemblyName>Assembly-CSharp</AssemblyName>
    <AssemblyVersion>0.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Enum</BaseTypeName>
  </Base>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="ACES">
      <MemberSignature Language="C#" Value="ACES" />
      <MemberSignature Language="ILAsm" Value=".field public static literal valuetype UnityEngine.PostProcessing.ColorGradingModel/Tonemapper ACES = int32(1)" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>UnityEngine.PostProcessing.ColorGradingModel+Tonemapper</ReturnType>
      </ReturnValue>
      <MemberValue>1</MemberValue>
      <Docs>
        <summary>To be added.</summary>
      </Docs>
    </Member>
    <Member MemberName="Neutral">
      <MemberSignature Language="C#" Value="Neutral" />
      <MemberSignature Language="ILAsm" Value=".field public static literal valuetype UnityEngine.PostProcessing.ColorGradingModel/Tonemapper Neutral = int32(2)" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>UnityEngine.PostProcessing.ColorGradingModel+Tonemapper</ReturnType>
      </ReturnValue>
      <MemberValue>2</MemberValue>
      <Docs>
        <summary>To be added.</summary>
      </Docs>
    </Member>
    <Member MemberName="None">
      <MemberSignature Language="C#" Value="None" />
      <MemberSignature Language="ILAsm" Value=".field public static literal valuetype UnityEngine.PostProcessing.ColorGradingModel/Tonemapper None = int32(0)" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>UnityEngine.PostProcessing.ColorGradingModel+Tonemapper</ReturnType>
      </ReturnValue>
      <MemberValue>0</MemberValue>
      <Docs>
        <summary>To be added.</summary>
      </Docs>
    </Member>
  </Members>
</Type>
